<li data-product-id="<%= cartitem.product.id %>" >
  <%= cartitem.product.name %>
  <%= cartitem.product.category %>
  <%= cartitem.product.price %>
  <%= button_to 'remove from cart', cartitem_path(cartitem), remote: true, action: 'destroy', method: :delete %>
</li> 
