<li class="list-group-item" data-product-id="<%= cartitem.product.id %>" >
  <p>
  Product: <%= cartitem.product.name %><br>
  Category: <%= cartitem.product.category %><br>
  Price: £<%= cartitem.pence_to_pounds(cartitem.product.price) %>
  </p>
  <%= button_to 'remove from cart', cartitem_path(cartitem), remote: true, action: 'destroy', method: :delete, class: 'btn btn-primary' %>
</li> 
