<!DOCTYPE html>
<html>
  <head>
    <title>EShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <div id="cart">

      <ul id="cartitems">
        <%= render @cartitems %>
      </ul>

      <ul id="carttotal">
        <li>Total price: £<%= @cart.total_price_in_pounds(session[:discount]) %></li>
      </ul>

      <%= form_tag '/vouchers', remote: true do %>
        Enter voucher code here if you have one <%= text_field_tag :voucher %>
        <%= submit_tag 'apply voucher' %>
      <% end %>
      <p id='voucher-notifications'></p>

    </div>

  </body>
</html>
